.contentForm {
  background-image: linear-gradient(to top, var(--orange), var(--orange-500));
  overflow-x: hidden;
  height: 111.5rem;
}

.contentForm header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 1.6rem 0 1.6rem;
}

.contentForm h1 {
  color: var(--white);
  font-size: 4rem;
  font-weight: 700;
  padding: 1.6rem;
}

.contentFormText {
  position: absolute;
  z-index: 1;
  right: 15%;
  line-height: 4.8rem;
}

.contentForm img:nth-child(1) {
  height: 25.5rem;
  position: relative;
  left: 90%;
  top: 0;
}

.contentFormLegend {
  color: var(--white);
  font-size: 1.6rem;
  padding: 0 1.9rem 2rem 1.6rem;
  text-align: left;
}

.contentForm > img:last-child {
  position: absolute;
  left: 25%;
  bottom: calc(-55rem);
}

.contentCards h3 {
  padding: 10rem 6rem 4rem 6rem;
}

.contentInfo h3 {
  padding: 8rem 4rem 2rem 4rem;
}

.contentInfo p {
  text-align: center;
  font-size: 1.6rem;
  padding: 0 6.4rem 3.6rem 6.4rem;
}

.carouselCards {
  display: flex;
  gap: 1rem;
  margin: 3.6rem 1.6rem 0 1.6rem;
}

.selectionCard {
  width: 100%;
  height: 4px;
  background-color: var(--gray-100);
}

.selectionCard:nth-child(1) {
  background-color: var(--orange-500);
}

.selectionCard h3:last-child {
  padding: 2.8rem 8.7rem 4rem 8.7rem;
}

.cardCarousel {
  background-image: linear-gradient(to top, var(--orange), var(--orange-500));
  border-radius: 64px;
  margin: 0 1.6rem;
}

.cardCarousel h3 {
  padding-top: 2rem;
}

.cardCarousel p {
  font-size: 1.5rem;
  color: var(--white);
  padding-top: 4rem;
}

.cardCarousel img {
  margin-bottom: -6px;
}

.contentInfoDescription h3 {
  margin: 0 4rem;
}
